.blue{
    color: blue;
}
.yellow{
    color:yellow;
}
.red{
    color: red;
}
.green{
    color: green;
}
.brown{
    color:brown;
}
.orange{
    color: orange;
}
.blueviolet{
    color: blueviolet;
}